NODE_ENV="development"
WORKER_ID="worker-1"
MANAGER_GRPC_URL="localhost:50051"
GUACD_HOST="127.0.0.1"
LOG_LEVEL=debug
CLAB_CLI_PATH="containerlab"
CLAB_TOPOLOGIES_PATH="/var/lib/vlab/topologies"
CLAB_MGMT_NETWORK="clab-mgmt"
