NODE_ENV="development"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vlab"
REDIS_URL="redis://localhost:6379" 

BASE_URL="http://localhost:5173"
CAS_BASE_URL="https://login.pens.ac.id"

S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=

# Security Secrets (32-64 characters each)
# Generate with: openssl rand -hex 32
COOKIE_SECRET="your-32-character-cookie-secret-here-change-this"

# Guacamole Configuration
GUACD_HOST="localhost"
GUACD_PORT=4822
GUACD_SECRET="your-32-character-secret-key-here-change-this"

CLAB_HOST="localhost"
CLAB_USERNAME="admin"
CLAB_PASSWORD="admin"
CLAB_DIND=true

# Optional: Uncomment to override default ports
# PORT=3000
# DISPLAY_PORT=8080