# System
MANAGER_ID="manager-1"
NODE_ENV="development"
ENABLE_OPENAPI="true"

# Server Ports
PORT="3000"
GRPC_PORT="50051"
DISPLAY_PORT="8080"

# Databases
DATABASE_URL="postgres://postgres:postgres@localhost:5432/vlab"
REDIS_URL="redis://localhost:6379"

# S3 / MinIO
S3_ENDPOINT="http://localhost:9000"
S3_ACCESS_KEY="minioadmin"
S3_SECRET_KEY="minioadmin"

# Auth
BASE_URL="http://localhost:3000"
CAS_BASE_URL="https://login.pens.ac.id"
COOKIE_SECRET="supersecretcookiepassword32chars!"

# Labs & Guacamole
GUACD_HOST="127.0.0.1"
GUACD_PORT="4822"
GUACD_SECRET="supersecretguacpassword32chars!!"
LOG_LEVEL=debug
